@import './variables.scss';
html {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-bg-primary-dark);
}

input {
	border: 1px solid var(--color-bg-1);
	background-color: var(--color-bg-2);
	padding: 0.5rem 1rem;
	border-radius: 7px;
	font-size: 1rem;
	// width: 100%;
	max-width: 100%;
}

a {
	color: var(--color-text-0);
}

select {
	border: 1px solid var(--color-bg-1);
	background-color: var(--color-bg-2);
	padding: 0.5rem 1rem;
	border-radius: 7px;
	font-size: 1rem;
	text-overflow: ellipsis;
	width: fit-content;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;

	option {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

label {
	font-size: 1rem;
	color: var(--color-text-1);
	font-weight: 300;
	width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	// text-overflow: ellipsis;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body {
	background-color: var(--color-bg-0);
	color: var(--color-text-0);
	min-height: 100svh;
}

h1 {
	padding: 1rem;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

.bold {
	font-weight: 600;
}
