:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

textarea {
	padding: 0.5rem 0.4rem;
	border: 1px solid var(--color-border-0);
	color: var(--color-text-2);
	background-color: var(--color-bg-2);
	border-radius: var(--border-radius-medium);
	font-family: inherit;
	width: 100%;
	resize: none;
	flex: 1;
	&:focus {
		border-color: var(--color-text-primary);
	}
}

a {
	color: var(--color-text-0);
}

svg {
	stroke: var(--color-text-0);
	fill: none;
	width: 18px;
}

label {
	font-size: 1rem;
	color: var(--color-text-1);
	font-weight: 300;
	width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	// text-overflow: ellipsis;
}


body {
	background-color: var(--color-bg-0);
	color: var(--color-text-0);
	min-height: 100svh;
}

h1 {
	padding: 1rem;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

.bold {
	font-weight: 600;
}
